body{
  background-color: black;
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0

}
.gmails{
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  font-size: 27px;
}
a{
  color: white;
}
a:hover {
  color: yellow;
  text-decoration: line-through
}
.my-projects{
  font-family: 'Righteous', cursive;
  margin-top: 57px;
  font-size: 79px;
  color: white;
  margin-left: 340px;
  margin-right: -100px;
}
.on-java-img{
  margin-left: -630px;
  margin-top: 50px;
  margin-right: 400px
}
.gpaint-text{
  font-family: 'Indie Flower', cursive;
  font-size: 67px;
  color: white;
}
.instr{
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  font-size: 27px;
  color: '#090909';
  margin-left: 650px
}
canvas{
  margin-left: -70px
}
.main-header{
  margin-top: 10px;
  border-bottom: 1px solid #fff
}
.header{
  margin-right: 100px
}
.color-but{
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  font-size: 27px;
  color: '#090909';
  margin-left: 650px
  margin-top: -5px
}
